{% load static %}
<div
    class="d-flex flex-column flex-shrink-0 p-3 text-white col-3 justify-content-center align-items-center "
    style="width: 280px; background-color: #0c5460;"
>
    <img style="width: 200px;" src="{% static 'images/robot-chatbot.png' %}" alt="">
    {% if user.is_authenticated %}
        <h3 style="color: #00ffc1">Hi, {{user.username}}</h3>
        <a href="{% url 'logout' %}" type="button" class="btn" style="background-color: #10a37f;">Logout</a>
    {% else %}
        <h6 style="color: #00ffc1">Already have an account</h6>
        <a href="{% url 'login' %}" type="button" class="btn mb-3" style="background-color: #10a37f; width: 100px;">Login</a>
        
        <h6 style="color: #00ffc1">create an account now</h6>
        <a href="{% url 'register' %}" type="button" class="btn mb-3" style="background-color: #10a37f; width: 100px;">Register</a>
        
    {% endif %}
</div>
